html { margin: 0;
    font: 14px/1.4 'Open Sans', arial, sans-serif;
    background: rgb(243, 239, 239);
  }


.top {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: rgb(243, 239, 239);
  
  }

.top h1  { 
    margin: 50px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }

.top ul { 
    margin: 50px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
 .top li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
.top a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
.top a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.top a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }

.text #demobox {
    background-color: #003366;
    width: 440px;
    
  }
.footer{
    position: fixed;
    text-align: right;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 100%
    padding: 1rem;
    background-color: #ded9d9;
}
.text {
  margin-left: 200px;
  margin-right: 200px;

}  

/*Three image containers 33%*/

.row1 {
  display: flex;
}

.row2 {
  display: flex;
}


.column {
  margin-left: 5px;
}

  
.tableau {
  margin-left: 200px;
  margin-right: 200px;

}  
.data-overview {
  margin-left: 200px;
  margin-right: 200px;

}  

.rap{
  margin-left: 200px;
  margin-right: 200px;

}

.modeling{
  margin-left: 200px;
  margin-right: 200px;

}

.container{
    margin-left: 50px;
}


  #member-container {
    width: 90%;
    margin: 0;
    text-align: center;
  }
  
  .member {
    display: inline-block;
    width: 250px;
    height: 400px;
    #border-top: 1px solid #26C6DA;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f9f9f9;
    position: relative;
    transition: ease all .5s;
  }
  
  
  .member img {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 15px auto;
    display: block;
    box-shadow: 0 0 2px rgba(0,0,0, .2);
  }
  
  .member h2 {
    color: #424242;
    text-align: center;
    width: 200px;
    display: block;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  
  .who {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;  
    color: #000000;
    text-align: center;
    display: block;
    max-width: 100px;
    margin: -2px auto;
    padding: 3px;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font-weight: 300;
  }
  
  .member-text {
    width: 80%;
    text-align: center;
    margin: 12px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #424242;
  }
